
div {
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100vw;
  height: 56.25vw;
  max-height: 100%;
  max-width: 177.5vh;
  outline: 1px solid black;
}
